/.ipynb_checkpoints
**/__pycache__/
.DS_Store
checkpoints/**/[0-9]*.pth
**IMG*.png
epoch**.png
**.html
RoundTrip/results
checkpoints/**/[0-9]*.png
Create_real_data/1/gray/
Create_real_data/2/noisy/
Create_real_data/2/test/